.QPushButton {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 128, 128);
}

.QPushButton:hover {
    background-color: rgb(187, 187, 187);
}

.QPushButton:pressed {
    background-color: rgb(127, 187, 187);
}

.QLabel {
    background-color: transparent;
    border-style: dashed;
    color: rgb(0, 128, 128);
    qproperty-alignment: 132;
}
